<section class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 [ngStyle]="{color: 'blue', backgroundColor: myColor }">{{ title }}</h3>
      <table class="table table-bordered">
        <tr>
          <th>ลำดับ</th>
          <th>ชื่อคอร์ส</th>
          <th>ราคา</th>
        </tr>
        <tr *ngFor="let item of course; let i=index">
          <td>{{ i+1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </table>
      <ul>
        <li *ngFor='let user of users'>{{ user }}</li>
      </ul>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus architecto saepe delectus id
        cumque doloremque cupiditate totam sunt? Possimus beatae placeat minima saepe architecto tenetur
        error porro at quisquam fugit?</p>

      <p [ngClass]="{ title: isActive }">
        อายุ {{ age }} <br>
        email {{ info.email }}
      </p>

      <img *ngIf="isShow" [src]="logo" [width]="imgWidth" />

      <br><br>

      <button mat-raised-button type="button" class="btn-primary" (click)="go()">click!</button>
    </div>
  </div>
</section>
